// Light Mode
$light-background:#fafafa;
$light-element:#fff;
$light-text-color:#111517;

// Dark mode
$dark-background:#202c37;
$dark-element:#2b3945;
$dark-text-color: #fff;

// Font
$font-size:16px;
$logo-font: 'Satisfy', cursive;
$main-font: 'Cairo', sans-serif;